### Gradle ###
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
out/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
target/
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### custom ###
.jenkins-*
*.pyc
*.retry
.override-repo-credentials.properties
dependency-reduced-pom.xml
.flattened-pom.xml
